.game-main
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.wordle-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: 987px;
}

.wordle-head
{
    font-size: 48px;
    font-weight: bolder;
    color: white;
    font-family:'sans-serif';
}
.date
{
    font-size: 36px;
    color: #6F7276;
    font-weight: bolder;
}
.letters
{
    padding:10px ;
    height: 740px;
    width: 600px;
    margin-top: 10px;
}
.letter-box
{
    width: 100px;
    height: 100px;
    background-color: #2D3047;
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 48px;
    text-align: center;
    color: #6F7276;
    font-weight: bolder;
}


.submit
{
    font-size: 24px;
    font-weight: bold;
    color: #CED5DB;
    align-self: flex-start;
}
.side-bar
{
    width: 700px;
    display: flex;
    flex-direction: column;
}
.head-item
{
    display: flex;
    flex-direction: row;
}

.playername
{
    font-size: 36px;
    font-weight: bolder;
    align-self: center;
    margin-left: 20px;
    color: #6F7276;
}
.guess
{
    margin-top: 30px;
    font-size: 48px;
    color: white;
    font-weight: bold;
}
.list
{
    height: 580px;
    margin-top: 40px;
}
.mode
{
    font-size: 36px;
    font-weight: bolder;
    margin-top: 30px;
    color: #6F7276;
    display: flex;
    flex-direction: row;
}
.mode-select
{
    color: #F5793A;
}


